div#page_administration{
	width: 100%;
	margin: 0;
	padding: 0;
}

div#page_administration div#page_administration_haut{
	float:left;
	width: 100%;
	border-bottom: solid 1px black;
	margin: 0;
}

div#page_administration div#page_administration_haut div#page_administration_titre{
	float:left;
}

div#page_administration div#page_administration_haut div#page_administration_titre h1{
	font-size:25px;
	margin: 0px 10px 0px 10px;
}

div#page_administration div#page_administration_haut div#barre_selection_promotion{
	float: right;
}

div#page_administration div#page_administration_haut div#barre_selection_promotion table{
	margin: 0;
	padding: 0;
}

div#page_administration div#page_administration_milieu{
	float:left;
	width: 100%;
	border-bottom: solid 1px black;
	background-color: #f3f3f3;
}

div#page_administration nav{
	float: left;
	width: 260px;
	padding: 10px;
}

div#page_administration nav h1{
	font-size: 14px;
}

div#page_administration nav ul{
	font-size: 12px;
	list-style-type: none;
	margin: 0;
	padding: 0px 0px 0px 10px;
}

div#page_administration section{
	background-color:white;
	min-height:600px;
	padding: 20px;
	border-left: solid 1px black;
	overflow-x:auto;
}

div#page_administration section h1{
	width:100%;
	border-bottom: black 1px solid;
	margin:0px 0px 10px 0px;
	font-size:20px;
}

div#page_administration section h2{
	margin:0px 0px 10px 20px;
	font-size:18px;
}

div#page_administration section h3{
	margin:0px 0px 10px 40px;
	font-size:16px;
}

div#page_administration section ul.messages_notifications,
div#page_administration section ul.messages_erreurs{
	list-style-type:none;
	font-weight:bold;
}

div#page_administration section ul.messages_notifications{
	color:green;
}

div#page_administration section ul.messages_erreurs{
	color:red;
}

div#page_administration section ul{
	padding-left:20px;
	margin: 0px 0px 10px 0px;
}

div#page_administration section table.table_liste_administration{
	border:solid 1px black;
	border-collapse:collapse;
	margin-bottom: 10px;
}

div#page_administration section table.table_liste_administration th,
div#page_administration section table.table_liste_administration td{
	border:solid 1px black;
	padding:5px;
}

div#page_administration section table.table_liste_administration th {
	background-color:#cfcfcf;
}

div#page_administration section form{
	margin: 0px 0px 10px 0px;
}

div#page_administration div#page_administration_bas{
	width:100%;
	text-align:center;
}

div#page_administration section .notificationAdministration{
	color:green;
	font-weight:bold;
	}

.erreur{
	color:red;
	font-weight:bold;
}
